<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <p class="mb-2">&copy; 2025 <strong>KashtoCash</strong> — Hold Kashmir, Grow Wealth</p>

        <div>
            <div>
                <a href="https://www.facebook.com/share/12MXfVhPrfj/" target="_blank" class="text-white mx-2 social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/kashtocash0" target="_blank" class="text-white mx-2 social-icon twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://instagram.com/kashtocash" target="_blank" class="text-white mx-2 social-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://youtube.com/" target="_blank" class="text-white mx-2 social-icon youtube">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="https://linkedin.com/in/kashtocash" target="_blank" class="text-white mx-2 social-icon linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>
